.top-left {
    width: 10%;
    height: 1.9375rem;
    margin-top: .8125rem;
    margin-left: .9375rem;
    float: left;
}

.top-conter {
    float: left;
    width: 72%;
    margin-top: .625rem;
}

.top-right {
    float: right;
    width: 2rem;
    height: 1.9375rem;
    margin-top: .8125rem;
    margin-left: .625rem;
}